<?xml version="1.0" encoding="UTF-8"?>
<!--

    The contents of this file are subject to the license and copyright
    detailed in the LICENSE and NOTICE files at the root of the source
    tree and available online at

    https://github.com/chinamds/license/

-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <!-- Place all MDS core service bean definitions below here -->

    <!-- PROPERTY PLACEHOLDER SETUP -->
    <!-- Configure a custom PropertySourcesPlaceholderConfigurer to use our MDSConfigurationService. This allows us
         resolve ${...} placeholders in both Bean definitions property values (e.g. within Spring XML config files)
         and in @Value annotations using our MDSConfigurationService. These are resolved at runtime. -->
    <bean id="mdsConfigurationFactoryBean" class="com.mds.servicemanager.config.MDSConfigurationPlaceholderConfigurer">
        <constructor-arg>
          <ref bean="mdsConfiguration" />
        </constructor-arg>
    </bean>
    <!-- This wires up our ConfigurationService.getConfiguration() method to be called to provide its properties
         to the above PropertySourcesPlaceholderConfigurer bean. -->
    <bean id="mdsConfiguration" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject" ref="com.mds.services.ConfigurationService" />
        <property name="targetMethod" value="getConfiguration" />
    </bean>
    
    <!-- end PROPERTY PLACEHOLDER SETUP-->

    <!-- CACHING service beans -->
    <bean id="com.mds.services.CachingService" class="com.mds.services.caching.CachingServiceImpl"/>

    <!-- This is the main cache manager -->
    <bean id="com.mds.caching.ehcache.CacheManager"
          class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation">
            <bean class="com.mds.servicemanager.spring.ResourceFinder" 
	          factory-method="getResourceFromPaths">
                <constructor-arg>
                    <list>
                        <value>ehcache-config.xml</value>
                        <value>caching/ehcache-config.xml</value>
                    </list>
                </constructor-arg>
            </bean>
        </property>
        <property name='acceptExisting' value='true'/>
        <property name='cacheManagerName' value='com.mds.services'/>
    </bean>
    <!-- CACHING end beans -->

    <!-- REQUEST - request service (implemented as a single bean) -->
    <bean id="com.mds.services.RequestService" class="com.mds.services.sessions.StatelessRequestServiceImpl"/>
    <!-- REQUEST end beans -->

    <!-- EVENTS -->
    <bean id="com.mds.services.EventService" class="com.mds.services.events.SystemEventService"/>

    <!-- EMAIL -->
    <bean id="com.mds.services.email.EmailServiceImpl"
          class="com.mds.services.email.EmailServiceImpl">
        <property name="cfg"
                  ref="com.mds.services.ConfigurationService"/>
    </bean>

    <!-- MDSServicesFactory (for easy access to above core services) -->
    <bean id="mDSServicesFactory" class="com.mds.services.factory.MDSServicesFactoryImpl"/>

</beans>
