<?xml version="1.0" encoding="UTF-8"?>
<!--

    The contents of this file are subject to the license and copyright
    detailed in the LICENSE and NOTICE files at the root of the source
    tree and available online at

    https://github.com/chinamds/license/

-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- spring工具类 方便在非spring管理环境中获取bean -->
    <bean id="SpringContextHolder" class="com.mds.aiotplayer.common.utils.SpringContextHolder"/>
    
    <!-- file upload path setting-->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="com.mds.aiotplayer.common.web.upload.FileUploadUtils.setDefaultBaseDir"/>
        <property name="arguments" value="${file.upload.dir}"/>
    </bean>
</beans>
